name: Examples

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  examples-bun:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: ./.github/workflows/setup-example-test.sh "bun install"
      - run: cd /tmp/example-test && bun github-stats/main.ts

  examples-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 23]
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: ./.github/workflows/setup-example-test.sh "npm install && npm install -D tsx"
      - run: cd /tmp/example-test && npx tsx github-stats/main.ts

  examples-deno:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - uses: denoland/setup-deno@v2
      - run: ./.github/workflows/setup-example-test.sh "bun install"
      - run: cd /tmp/example-test && deno run --sloppy-imports --allow-net --allow-env --allow-read --allow-write --allow-sys github-stats/main.ts
